00_main_manuscript.synctex.gz
00_main_manuscript.synctex(busy)
acs-00_main_manuscript.bib
00_main_manuscript.aux
00_main_manuscript.log
00_main_manuscript.bbl
00_main_manuscript.blg
.aspell.en.prepl

*.bak
