*.docx

~$ref_lst.xlsx

00_SI.pdf
00_SI.aux
00_SI.bbl
00_SIb.lg
00_SI.log
00_SI.blg
00_SI.synctex.gz
acs-00_SI.bib


active_learned_irox_polymorphs.zip
active_learned_irox_polymorphs
.directory
*.swp
00_main_manuscript.synctex.gz
00_main_manuscript.synctex(busy)
acs-00_main_manuscript.bib
00_main_manuscript.aux
00_main_manuscript.log
00_main_manuscript.bbl
00_main_manuscript.blg
.aspell.en.prepl

*.bak
.dropbox
desktop.ini
__temp__
__old__
