active_learned_irox_polymorphs.zip
active_learned_irox_polymorphs
.directory
*.swp
00_main_manuscript.synctex.gz
00_main_manuscript.synctex(busy)
acs-00_main_manuscript.bib
00_main_manuscript.aux
00_main_manuscript.log
00_main_manuscript.bbl
00_main_manuscript.blg
.aspell.en.prepl

*.bak
.dropbox
desktop.ini
__temp__
__old__
